include LICENSE
include CONTRIBUTING.rst
include CHANGELOG.rst
include requirements.txt
include tox.ini
include mypy.ini
include .env.template
include Pipfile

graft tests
graft docs
prune docs/_build

global-exclude *.pyc
global-exclude .ipynb_checkpoints/*
exclude *.sh
exclude requirements-ci.txt
exclude *-OFF
exclude *.yml
exclude *.yaml
