include LICENSE
include CONTRIBUTING.rst
include requirements.txt
include tox.ini
include .env.template

graft tests
graft docs
prune docs/_build

global-exclude *.pyc
global-exclude .ipynb_checkpoints/*
