# basis
requests==2.26.0
envparse==0.2.0

# json validation (inspector)
jsonschema==4.2.1

# for version comparison
semver==2.13.0

# testing
pytest==6.2.5
pytest-xdist[psutil]==2.4.0
betamax==0.8.1
coverage==6.2
pytest-cov==3.0.0
coveralls==3.3.1

# documentation
Sphinx==4.3.1
nbsphinx==0.8.7

# integration
tox==3.24.4

# code style
flake8==4.0.1
pydocstyle==6.1.1
mypy==0.910; python_version >= '3.4'
pre-commit==2.15.0

# for package management (uploads)
twine~=3.0; python_version >= '3.6'
twine==3.6.0; python_version <= '3.5.99'

pytz==2021.3
