# basis
requests==2.22.0
envparse==0.2.0

# json validation (inspector)
jsonschema==3.2.0

# for version comparison
semver==2.9.0

# to fix connection issues
PyOpenSSL==19.1.0; python_version <= '2.7'

# testing
pytest==5.3.2
betamax==0.8.1
coverage<=4.5.99
pytest-cov==2.8.1
coveralls==1.10.0

# documentation
Sphinx==2.3.1
nbsphinx==0.5.0

# data science # not needed for local use
# jupyter==1.0.0
# matplotlib==3.1.1; python_version >= '3.6'

# integration
tox==3.14.3

# code style
flake8==3.7.9
pydocstyle==5.0.1
mypy==0.761; python_version >= '3.4'
pre-commit==1.21.0


# for package management (uploads)
twine>=3.0.0; python_version >= '3.6'
twine==3.1.1; python_version <= '3.5.99'
